In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [2]:
pages = []
prices = []
ratings = []
title = []
urls = []

no_of_pages = 1

In [3]:
for i in range(1, no_of_pages + 1):
    url = 'https://books.toscrape.com/catalogue/page-{}.html'.format(i)
    pages.append(url)

In [4]:
for url in pages:
    r = requests.get(url)
    bs = BeautifulSoup(r.text, 'html.parser')

In [5]:
for t in bs.findAll('h3'):
    title.append(t.getText().strip())
    
for p in bs.findAll('p', class_='price_color'):
    prices.append(p.text.strip())
    
for s in bs.findAll('p', class_='star-rating'):
    ratings.append(s.attrs['class'][1])
    
for ct in bs.findAll('div', class_='image_container'):
    img = ct.find('img', class_='thumbnail')
    links = 'http://books.toscrape.com' + str(img['src'])
    links = links.replace('..', '')
    urls.append(links)

In [10]:
web_data = {
    'Title': title,
    'Price': prices,
    'Ratings': ratings,
    'URL': urls
}

print(len(title))
print(len(prices))
print(len(ratings))
print(len(urls))

20
20
20
20

In [11]:
df = pd.DataFrame(web_data)

In [12]:
df

,Title,Price,Ratings,URL
0,A Light in the ...,Â£51.77,Three,http://books.toscrape.com/media/cache/2c/da/2c...
1,Tipping the Velvet,Â£53.74,One,http://books.toscrape.com/media/cache/26/0c/26...
2,Soumission,Â£50.10,One,http://books.toscrape.com/media/cache/3e/ef/3e...
3,Sharp Objects,Â£47.82,Four,http://books.toscrape.com/media/cache/32/51/32...
4,Sapiens: A Brief History ...,Â£54.23,Five,http://books.toscrape.com/media/cache/be/a5/be...
5,The Requiem Red,Â£22.65,One,http://books.toscrape.com/media/cache/68/33/68...
6,The Dirty Little Secrets ...,Â£33.34,Four,http://books.toscrape.com/media/cache/92/27/92...
7,The Coming Woman: A ...,Â£17.93,Three,http://books.toscrape.com/media/cache/3d/54/3d...
8,The Boys in the ...,Â£22.60,Four,http://books.toscrape.com/media/cache/66/88/66...
9,The Black Maria,Â£52.15,One,http://books.toscrape.com/media/cache/58/46/58...
10,Starving Hearts (Triangular Trade ...,Â£13.99,Two,http://books.toscrape.com/media/cache/be/f4/be...
11,Shakespeare's Sonnets,Â£20.66,Four,http://books.toscrape.com/media/cache/10/48/10...
12,Set Me Free,Â£17.46,Five,http://books.toscrape.com/media/cache/5b/88/5b...
13,Scott Pilgrim's Precious Little ...,Â£52.29,Five,http://books.toscrape.com/media/cache/94/b1/94...
14,Rip it Up and ...,Â£35.02,Five,http://books.toscrape.com/media/cache/81/c4/81...
15,Our Band Could Be ...,Â£57.25,Three,http://books.toscrape.com/media/cache/54/60/54...
16,Olio,Â£23.88,One,http://books.toscrape.com/media/cache/55/33/55...
17,Mesaerion: The Best Science ...,Â£37.59,One,http://books.toscrape.com/media/cache/09/a3/09...
18,Libertarianism for Beginners,Â£51.33,Two,http://books.toscrape.com/media/cache/0b/bc/0b...
19,It's Only the Himalayas,Â£45.17,Two,http://books.toscrape.com/media/cache/27/a5/27...

In [20]:
df['Price'] = df['Price'].str.replace('Â£', '')

In [21]:
df.head()

,Title,Price,Ratings,URL
0,A Light in the ...,51.77,Three,http://books.toscrape.com/media/cache/2c/da/2c...
1,Tipping the Velvet,53.74,One,http://books.toscrape.com/media/cache/26/0c/26...
2,Soumission,50.10,One,http://books.toscrape.com/media/cache/3e/ef/3e...
3,Sharp Objects,47.82,Four,http://books.toscrape.com/media/cache/32/51/32...
4,Sapiens: A Brief History ...,54.23,Five,http://books.toscrape.com/media/cache/be/a5/be...

In [22]:
df.sort_values(by='Price', ascending=False, inplace=True)

In [24]:
df.reset_index(drop=True, inplace=True)

In [25]:
df.head()

,Title,Price,Ratings,URL
0,Our Band Could Be ...,57.25,Three,http://books.toscrape.com/media/cache/54/60/54...
1,Sapiens: A Brief History ...,54.23,Five,http://books.toscrape.com/media/cache/be/a5/be...
2,Tipping the Velvet,53.74,One,http://books.toscrape.com/media/cache/26/0c/26...
3,Scott Pilgrim's Precious Little ...,52.29,Five,http://books.toscrape.com/media/cache/94/b1/94...
4,The Black Maria,52.15,One,http://books.toscrape.com/media/cache/58/46/58...

In [26]:
df['Ratings'] = df['Ratings'].replace({'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5})

In [27]:
df.dtypes

Title      object
Price      object
Ratings     int64
URL        object
dtype: object

In [28]:
df['Price'] = df['Price'].astype('float')

In [29]:
df.dtypes

Title       object
Price      float64
Ratings      int64
URL         object
dtype: object

In [31]:
df.corr(numeric_only=True)

            Price   Ratings
Price    1.000000 -0.075857
Ratings -0.075857  1.000000