In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv('dataset/Covid Data.csv')

In [3]:
raw_data.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [4]:
raw_data = raw_data[['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED', 'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES']]

In [5]:
raw_data.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES
0,2,1,1,1,03/05/2020,97,1,65,2,2
1,2,1,2,1,03/06/2020,97,1,72,97,2
2,2,1,2,2,09/06/2020,1,2,55,97,1
3,2,1,1,1,12/06/2020,97,2,53,2,2
4,2,1,2,1,21/06/2020,97,2,68,97,1

In [6]:
raw_data.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01

In [7]:
raw_data.shape

(1048575, 10)

In [8]:
df = raw_data.copy()

In [9]:
df.isna().sum()

USMER           0
MEDICAL_UNIT    0
SEX             0
PATIENT_TYPE    0
DATE_DIED       0
INTUBED         0
PNEUMONIA       0
AGE             0
PREGNANT        0
DIABETES        0
dtype: int64

In [10]:
df['PREGNANT'].value_counts()

97    523511
2     513179
1       8131
98      3754
Name: PREGNANT, dtype: int64

In [14]:
df = df.drop('PREGNANT', axis=1)

In [11]:
df['DIABETES'].value_counts()

2     920248
1     124989
98      3338
Name: DIABETES, dtype: int64

In [22]:
df['DIABETES'] = df['DIABETES'].mask(df['DIABETES'] == 98, 2)

In [23]:
df['DIABETES'].value_counts()

2    923586
1    124989
Name: DIABETES, dtype: int64

In [12]:
df['PNEUMONIA'].value_counts()

2     892534
1     140038
99     16003
Name: PNEUMONIA, dtype: int64

In [24]:
df['PNEUMONIA'] = df['PNEUMONIA'].mask(df['PNEUMONIA'] == 99, 2)

In [25]:
df['PNEUMONIA'].value_counts()

2    908537
1    140038
Name: PNEUMONIA, dtype: int64

In [13]:
df['PATIENT_TYPE'].value_counts()

1    848544
2    200031
Name: PATIENT_TYPE, dtype: int64

In [26]:
df['MEDICAL_UNIT'].value_counts()

12    602995
4     314405
6      40584
9      38116
3      19175
8      10399
10      7873
5       7244
11      5577
13       996
7        891
2        169
1        151
Name: MEDICAL_UNIT, dtype: int64

In [29]:
df = df.drop('DATE_DIED', axis=1)

In [30]:
df.head()

   USMER  MEDICAL_UNIT  SEX  PATIENT_TYPE  INTUBED  PNEUMONIA  AGE  DIABETES
0      2             1    1             1       97          1   65         2
1      2             1    2             1       97          1   72         2
2      2             1    2             2        1          2   55         1
3      2             1    1             1       97          2   53         2
4      2             1    2             1       97          2   68         1

In [31]:
y = df['PATIENT_TYPE']
x = df.drop('PATIENT_TYPE', axis=1)

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [34]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=42)

In [51]:
print(len(xtrain), len(ytrain))
print(len(xtest), len(ytest))

734002 734002
314573 314573

In [35]:
model = LogisticRegression()
model.fit(xtrain, ytrain)

C:\Users\user\anaconda3\envs\ds\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [52]:
ypred = model.predict(xtrain)

In [53]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [54]:
accuracy_score(ypred, ytrain)

0.993008193438165

In [49]:
confusion_matrix(ypred, ytest)

array([[254885,   2193],
       [     0,  57495]], dtype=int64)