In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/User_Data.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female': 1}).astype(float)

In [5]:
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510     0.0   19            19000          0
1  15810944     0.0   35            20000          0
2  15668575     1.0   26            43000          0
3  15603246     1.0   27            57000          0
4  15804002     0.0   19            76000          0

In [6]:
x = df.iloc[:, [2, 3]].values
y = df.iloc[:, [4]].values

In [7]:
x[:10]

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000]], dtype=int64)

In [8]:
y[:10]

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0]], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25)

In [11]:
len(xtrain)

300

In [12]:
len(xtest)

100

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(xtrain)

In [15]:
xtest = sc_x.transform(xtest)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
classifier = LogisticRegression()
classifier.fit(xtrain, ytrain.reshape(-1,))

LogisticRegression()

In [18]:
ypred = classifier.predict_proba(xtest)
ypred

array([[0.31169163, 0.68830837],
       [0.00535572, 0.99464428],
       [0.95459918, 0.04540082],
       [0.91801488, 0.08198512],
       [0.99157747, 0.00842253],
       [0.71202046, 0.28797954],
       [0.9868852 , 0.0131148 ],
       [0.68958096, 0.31041904],
       [0.82184344, 0.17815656],
       [0.75684728, 0.24315272],
       [0.47400171, 0.52599829],
       [0.28156411, 0.71843589],
       [0.83530365, 0.16469635],
       [0.03364119, 0.96635881],
       [0.29721842, 0.70278158],
       [0.07056442, 0.92943558],
       [0.94173064, 0.05826936],
       [0.99094083, 0.00905917],
       [0.94037141, 0.05962859],
       [0.68053971, 0.31946029],
       [0.95868975, 0.04131025],
       [0.45299288, 0.54700712],
       [0.04512799, 0.95487201],
       [0.14095716, 0.85904284],
       [0.07603758, 0.92396242],
       [0.59905706, 0.40094294],
       [0.67561568, 0.32438432],
       [0.96097587, 0.03902413],
       [0.83960518, 0.16039482],
       [0.99601677, 0.00398323],
       [0.92995089, 0.07004911],
       [0.98856381, 0.01143619],
       [0.94794278, 0.05205722],
       [0.72864729, 0.27135271],
       [0.93383777, 0.06616223],
       [0.99580943, 0.00419057],
       [0.63231028, 0.36768972],
       [0.67829492, 0.32170508],
       [0.52216798, 0.47783202],
       [0.92620677, 0.07379323],
       [0.97060876, 0.02939124],
       [0.87906019, 0.12093981],
       [0.93744947, 0.06255053],
       [0.82259669, 0.17740331],
       [0.85890231, 0.14109769],
       [0.82080173, 0.17919827],
       [0.77578421, 0.22421579],
       [0.52924753, 0.47075247],
       [0.64805417, 0.35194583],
       [0.27355128, 0.72644872],
       [0.79321768, 0.20678232],
       [0.29937568, 0.70062432],
       [0.59611085, 0.40388915],
       [0.40330602, 0.59669398],
       [0.9165467 , 0.0834533 ],
       [0.95352532, 0.04647468],
       [0.97400806, 0.02599194],
       [0.80339252, 0.19660748],
       [0.7972079 , 0.2027921 ],
       [0.57561251, 0.42438749],
       [0.49026658, 0.50973342],
       [0.96755807, 0.03244193],
       [0.93691706, 0.06308294],
       [0.93395786, 0.06604214],
       [0.6789945 , 0.3210055 ],
       [0.97060876, 0.02939124],
       [0.04579886, 0.95420114],
       [0.25340627, 0.74659373],
       [0.20343842, 0.79656158],
       [0.1357302 , 0.8642698 ],
       [0.0925129 , 0.9074871 ],
       [0.91158335, 0.08841665],
       [0.84516884, 0.15483116],
       [0.06585086, 0.93414914],
       [0.94609889, 0.05390111],
       [0.53711296, 0.46288704],
       [0.98995942, 0.01004058],
       [0.63679741, 0.36320259],
       [0.43358286, 0.56641714],
       [0.84449331, 0.15550669],
       [0.105498  , 0.894502  ],
       [0.01220612, 0.98779388],
       [0.99700565, 0.00299435],
       [0.73144517, 0.26855483],
       [0.97798763, 0.02201237],
       [0.59440065, 0.40559935],
       [0.5645557 , 0.4354443 ],
       [0.89186811, 0.10813189],
       [0.59144356, 0.40855644],
       [0.78211257, 0.21788743],
       [0.64598872, 0.35401128],
       [0.85016569, 0.14983431],
       [0.53486374, 0.46513626],
       [0.99128173, 0.00871827],
       [0.7356076 , 0.2643924 ],
       [0.55835443, 0.44164557],
       [0.44517459, 0.55482541],
       [0.82670235, 0.17329765],
       [0.03649911, 0.96350089],
       [0.56613222, 0.43386778]])

In [19]:
ypred = classifier.predict(xtest)
ypred

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [20]:
from sklearn.metrics import confusion_matrix

In [21]:
cm = confusion_matrix(ytest, ypred)
cm

array([[58,  4],
       [16, 22]], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy= accuracy_score(ytest, ypred)
accuracy

0.8

In [24]:
import pickle

In [25]:
with open('dataset/userdata_model', 'wb') as f:
    pickle.dump(classifier, f)

In [26]:
with open('dataset/userdata_model', 'rb') as f:
    mp = pickle.load(f)

In [27]:
mp.predict([[29, 30000]])

array([1], dtype=int64)