In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/User_Data.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
x = df.iloc[:, [2, 3]]
y = df.iloc[:, 4]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25)

In [7]:
print(len(xtrain), len(ytrain), len(xtest), len(ytest))

300 300 100 100

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
st_x = StandardScaler()
xtrain = st_x.fit_transform(xtrain)
xtest = st_x.transform(xtest)

In [10]:
from sklearn.svm import SVC

classifier = SVC(kernel='linear', random_state=0)
classifier.fit(xtrain, ytrain)

SVC(kernel='linear', random_state=0)

In [11]:
ypred = classifier.predict(xtest)

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
cm = confusion_matrix(ytest, ypred)
cm

array([[59,  4],
       [ 7, 30]], dtype=int64)

In [14]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy = accuracy_score(ytest, ypred)
accuracy

0.89