### Import relevant Libraries

In [1]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### Load the data

In [2]:
raw_data = pd.read_csv('../dataset/Binary-predictors.csv')

In [3]:
raw_data.head()

    SAT Admitted  Gender
0  1363       No    Male
1  1792      Yes  Female
2  1954      Yes  Female
3  1653       No    Male
4  1593       No    Male

In [4]:
data = raw_data.copy()

In [5]:
data['Admitted'] = data['Admitted'].map({'Yes': 1, 'No': 0})
data['Gender'] = data['Gender'].map({'Male': 1, 'Female': 0})

### Declaring dependent and Independent variable

In [6]:
y = data['Admitted']
x1 = data[['Gender', 'SAT']]

### Regression

In [7]:
x = sm.add_constant(x1)
results = sm.Logit(y, x).fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Sat, 17 Dec 2022   Pseudo R-squ.:                  0.8249
Time:                        08:00:28   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -66.4040     16.321     -4.068      0.000     -98.394     -34.414
Gender        -1.9449      0.846     -2.299      0.022      -3.603      -0.287
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [8]:
results.pred_table()

array([[69.,  5.],
       [ 4., 90.]])

In [9]:
cm_df = pd.DataFrame(results.pred_table())
cm_df.columns = ['Predicted 0', 'Predicted 1']
cm_df = cm_df.rename(index={0: 'Actual 0', 1: 'Actual 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0         69.0          5.0
Actual 1          4.0         90.0

In [10]:
cm = np.array(cm_df)
accuracy_train = (cm[0, 0] + cm[1, 1]) / cm.sum()
accuracy_train

0.9464285714285714