In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
sns.set()

In [2]:
df = pd.read_csv('dataset/Multiplelinearregression.csv')

In [3]:
df.head()

    SAT   GPA  Rand 1,2,3
0  1714  2.40           1
1  1664  2.52           3
2  1760  2.54           3
3  1685  2.74           3
4  1693  2.83           2

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SAT,84.0,1845.273810,104.530661,1634.0,1772.00,1846.00,1934.0000,2050.00
GPA,84.0,3.330238,0.271617,2.4,3.19,3.38,3.5025,3.81
"Rand 1,2,3",84.0,2.059524,0.855192,1.0,1.00,2.00,3.0000,3.00

In [5]:
x = df[['SAT', 'Rand 1,2,3']]
y = df['GPA']

In [6]:
reg = LinearRegression()
reg.fit(x, y)

LinearRegression()

In [7]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [8]:
reg.intercept_

0.29603261264909486

In [9]:
reg.score(x, y)

0.40668119528142843

### Adjusted R-squared

### Formula

$R^2_{adj.} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$

In [10]:
x.shape

(84, 2)

In [11]:
r2 = reg.score(x, y)
n = 84
p = 2
ad_r2 = 1 - (1 - r2) * (n-1)/(n-p-1)

In [12]:
ad_r2

0.39203134825134023

### Feature selection

In [13]:
from sklearn.feature_selection import f_regression

In [14]:
f_regression(x, y)

(array([56.04804786,  0.17558437]), array([7.19951844e-11, 6.76291372e-01]))

In [15]:
pvalues = f_regression(x, y)[1]

In [16]:
pvalues.round(3)

array([0.   , 0.676])